.separator {
    background-color: transparent;
}

.logo_button {
  display: flex;
  align-items: center;
  // background: #ffffff;
  border-radius: 30px;
  width: 243px;
  height: 50px;

  &__img {
    width: 38px;
    height: 38px;
    margin: 0 12px 0 16px;
  }
}