// fonts
@import url("antd/dist/antd.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// general styles
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: var(--brand-district-font-one);
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  
}

// application style constants
:root {
  --brand-district-font-one: "Poppins", sans-serif;
  --brand-district-blue: #55a0d2;
  --brand-district-black: #001825;
  --brand-district-grey: #003049;
  --grey-one: #8097a4;
  --grey-two: #aabac2;
  --grey-three: #d4dce0;
  --grey-four: #e9edef;
  --purple: #49002c;
  --blue: #443df6;
  --red: #c5292a;
  --marina: #c1e5f6;
  --green: #117c1a;
  --natural-white: #fff;
  --off-white: #f9f9f9;
  --deep-shadow: 0px 4px 4px rgba(0, 48, 73, 0.12),
    0px 4px 4px rgba(0, 48, 73, 0.12);
  --light-shadow: 0px 4px 4px rgba(0, 48, 73, 0.12);
}

// Main Css
.auth {
  height: 100vh;
  z-index: 999999;

  .left-side{
    background-color: var(--brand-district-blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 4rem;
    position: relative;

    #overlay {
      background-image: url(./assets/img/Floating-bg.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;

      header {
        width: 100%;

        nav {
          > div {
            width: 100%;
            display: flex;
            justify-content: space-between;

            a {
              outline: none;
              background: transparent;
              color: var(--natural-white);
              border: none;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              padding-bottom: 5px;

              &.active {
                border-bottom: 2px solid var(--natural-white);
              }
            }
          }

          .logo {
            display: flex;
            gap: 0.7rem;

            p {
              display: flex;
              flex-direction: column;
              color: var(--natural-white);
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
              margin-bottom: 0;
            }
          }
        }
      }

      section {
        width: 80%;

        h1 {
          font-family: "Poppins";
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
          color: var(--natural-white);
          margin-top: 4.5rem;
        }

        h2 {
          color: var(--natural-white);
          margin-top: 3rem;
          font-family: "Poppins";
          font-weight: 500;
          font-size: 4rem;
          line-height: 80px;
        }

        p {
          color: var(--natural-white);
          margin-top: 3rem;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }

        #que {
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
  .right-side{}
}